<!DOCTYPE html>
<html>
<head>
  <title>Events</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="container">
<% if current_user %>
  <nav class="navbar navbar-expand-xl navbar-light bg-info">
    <a class="navbar-brand" href="/users/<%= current_user.id %>/edit">Welcome <%= current_user.first_name %></a>
    <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/events">Events <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
        <a class="nav-link" href="/users/<%= current_user.id %>/edit">Profile <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
        <a class="nav-link" href="/users/logout">Logout <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
  <br><br>

<%end%>
<%if flash[:errors] %>
  <% flash[:errors].each do |error|%>
    <p class="text-danger"><%= error %></p>
  <%end%>
<%end%>

  <%= yield %>
</div>
</body>
</html>
