<div class="container">
    <div class="row">
        <div class="col-sm-4 h3"> Coding Dojo Wall</div>
        <div class="col-md-4 h3"> Welcome <%= @user.username %> </div>
        <div class="h3 col-lg-4"> <a class="nav-link active" href="/logout">Logout</a></div>
    </div> <!-- row end -->
    <h1>Post a Message</h1>
    <%if flash[:post_error] %>
    <% flash[:post_error].each do |m|%>
    <p><%= m %></p>
    <%end%>
    <%end%>
    <form action="/post" method="post">
        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token =%>'>
        <textarea name="post[content]" id="post_content" cols="80" rows="7"></textarea>
        <input type="hidden" name="post[user_id]" value="<%= @user.id %>">
        <div class="text-center"><input class="btn btn-primary" type="submit" value="Post a Message"></div>
    </form>
    <% if @posts %>
        <% @posts.each do |post|%>
        <blockquote><%= post.content %>
            <div class="blockqoute-footer"><%= post.user.username %> - <%= post.created_at %></div>
        </blockquote> 
           <% if post.comment %>
                <h3>Comments:</h3>
                <% post.comment.each do |comment|%>
                <blockqoute class="col-5"><%= comment.message %>
                    <div class"blockqoute-footer"><%= comment.user.username %> - <%= comment.created_at %></div>
                </blockqoute>
                <%end%>
            <%end%>
            <br>
            <form action="/comment" method="post">
                <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token =%>'>
                <textarea name="comment[message]" id="comment_content" cols="80" rows="7"></textarea>
                <input type="hidden" name="comment[post_id]" value="<%= post.id %>">
                <input type="hidden" name="comment[user_id]" value="<%= @user.id %>">
                <div class="text-center"><input class="btn btn-primary" type="submit" value="Post a Comment"></div>
            </form>
        <%end%>
    <%end%>
</div>