<fieldset>
  <p>Thanks for submitting this form! You have submitted this form <%= @count %> times now</p>
</fieldset>

<fieldset>
  <h3>Submitted Information</h3>
  <p>Name: <%= @survey.name%></p>
  <p>Location: <%= @survey.location%></p>
  <p>Favorite Language: <%= @survey.language%></p>
  <p>Comment: <%= @survey.comment%></p>
</fieldset>