<div class="row">
    <div class="col-7">
        <h3><%= @event.name %></h3>
        <p>Host: <%= @event.user.first_name%> <%= @event.user.last_name%></p>
        <p>Date: <%= @event.date %></p>
        <p>Location: <%= @event.city%>, <%= @event.state %></p>
        <p>Poeple who are joining the event: <%= @attendees.size %></p>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Location</th>
                    <th>State</th>
                </tr>
            </thead>
            <% if @attendees %>
            <tbody>
                <% @attendees.each do |attendee|%>
                <tr>
                    <td scope="row"><%= attendee.user.first_name %> <%= attendee.user.last_name %></td>
                    <td><%= attendee.user.city %></td>
                    <td><%= attendee.user.state %></td>
                </tr>
                <%end%>
            </tbody>
            <%end%>
        </table>
    </div>
    <div class="col-5">
        <h4>Discussion about this event:</h4>
        <% if @comments %>
            <% @comments.each do |comment|%>
                <p><%= comment.content %></p>
                <hr>
            <%end%>
        <%end%>
        <form action="/comments" method="post">
            <div class="form-group">
              <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token =%>'>
              <label for="comment[content]">Add Comment:</label>
              <textarea class="form-control" name="comment[content]" id="comment[content]" rows="3"></textarea>
              <input type="hidden" name="comment[event_id]" value="<%= @event.id%>">
              <input type="hidden" name="comment[user_id]" value="<%=current_user.id%>">
            </div>
            <button type="submit" class="btn btn-info">Submit Comments</button>
        </form>
    </div>
</div>