<h1><%= @student.dojo.branch %>'s <%= @student.first_name %> <%= @student.last_name %></h1>

<p>Email: <%= @student.email%></p>

<h3>Cohort</h3>


<table>
  <tr>
    <th>First Name: </th>
    <th>Last Name: </th>
    <th>Email: </th>
  </tr>
  <% if @cohort %>
  <% @cohort.each do |c|%>
    <tr>
      <td><%= c.first_name %></td>
      <td><%= c.last_name %> </td>
      <td><%= c.email %> </td>
    </tr>
  <%end%>
  <%end%>
</table>

<a href="/dojos/<% @student.dojo_id %>">Home</a> | <a href="/dojos/<%= @student.dojo_id %>/students/<%= @student.id%>/edit">Edit</a>