<!DOCTYPE html>
<html>
<head>
  <title>DojoSecret</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <% if Rails.env.test? %>
    <style type="text/css">
       .modal.fade, .fade {
         -webkit-transition: opacity 0.01s;
         -moz-transition: opacity 0.01s;
         -ms-transition: opacity 0.01s;
         -o-transition: opacity 0.01s;
         transition: opacity 0.01s;
       }
    </style>
   <%end%>
    <% if flash[:errors] %>
    <% flash[:errors].each do |e| %>
      <p class="text-center text-danger"><%= e %></p>
    <% end %>
  <% end %>
  <% if current_user %>
    <form action="/sessions/<%=current_user.id%>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="delete">
      <p>Log Out</p>
      <input type="submit" value="Log Out">
    </form>
  <% end %> 
<div class="container">
<%= yield %>
</div>
</body>
</html>
